<a href="https://colab.research.google.com/github/hy30n80/Data-Structure-/blob/main/R_02_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Review

[Source - Berkeley CS61a Ch06 Recursion](https://inst.eecs.berkeley.edu/~cs61a/su16/assets/slides/06-Recursion_1pp.pdf)

## List with map function

We can transfer string to int list, string with one char list as below.

In [1]:
def get_int_list_from_comma(arr_str):
    return list(map(int, arr_str.split(",")))


def get_int_list_from_space(arr_str):
    return list(map(int, arr_str.split()))  # default sep = " "


def get_char_list_from_sticked(arr_str):
    return list(arr_str)


my_input = "1, 2, 3, 4, 5"
print(get_int_list_from_comma(my_input))

my_input = "12 23 3 4 5"
print(get_int_list_from_space(my_input))

my_input = "12345"
print(get_char_list_from_sticked(my_input))

[1, 2, 3, 4, 5]
[12, 23, 3, 4, 5]
['1', '2', '3', '4', '5']

In [2]:
l = [i for i in range(5)]  # [0, 1, 2, 3, 4], list type

## Dictionary

A dictionary is a data type similar to arrays, but works with (key, value) pairs, similar to a Map in Java or an object in Javascript. Each value stored in a dictionary can be accessed using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.

In [3]:
dict1 = {1: 'a', 'a': 1}
dict2 = dict([[1, 'a'], ['a', 1]])

print("dict1 is:", dict1)
print("dict2 is:", dict2)

dict1 is: {1: 'a', 'a': 1}
dict2 is: {1: 'a', 'a': 1}

In [4]:
dict3 = {"math": 30, "korean": 70, "english": 50, "I am": "so happy"}

for key, value in dict3.items():
    if key == "I am":
        print(key, value)
        continue
    print(f"My score of {key} is: {value}")

My score of math is: 30
My score of korean is: 70
My score of english is: 50
I am so happy

In [5]:
# Just dictionary variable gives only keys to the for loop
for key in dict3:
    if key == "I am":
        print(key, "strong")
        continue
    print(f"My score of {key} is secret :)")

My score of math is secret :)
My score of korean is secret :)
My score of english is secret :)
I am strong

In [6]:
del dict3["math"]
dict3.pop("english", "N/A")
res = dict3.pop("englsish", "N/A")
print(dict3, "pop() function pops:", res)

{'korean': 70, 'I am': 'so happy'} pop() function pops: N/A

In [7]:
d = {i: i**2 for i in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}, dictionary type

In [8]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## Sets
A set is an unordered collection of distinct elements

In [9]:
set1 = {30, 70, 50, "so happy"}

for value in set1:
    if value == "so happy":
        print("I am", value)
        continue
    print(f"My score is: {value}")

I am so happy
My score is: 50
My score is: 70
My score is: 30

In [10]:
for index, value in enumerate(set1):
  if value == "so happy":
    print("{}. I am ".format(index), value)
    continue
  print("My {} score is :{}".format(index, value))

0. I am  so happy
My 1 score is :50
My 2 score is :70
My 3 score is :30

In [11]:
# call the value of set elements using index occurs error.
set1[0]

TypeError: 'set' object is not subscriptable

In [12]:
s = {i for i in range(5)}  # {0, 1, 2, 3, 4}, set type

## Tuple

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot.

In [13]:
t = ('this', 'is', 'fixed', 'tuple', 'do', 'not', 'modify')
print(t)
for i in t:
    print(i)

('this', 'is', 'fixed', 'tuple', 'do', 'not', 'modify')
this
is
fixed
tuple
do
not
modify

In [14]:
t[0] = 'i want to try fix this value of tuple'

TypeError: 'tuple' object does not support item assignment

## Recursion

### properties of recursive function?



1.   Same or similar function is called multiple times
2.   Different frames keep track of the
different arguments in each call
3.   What **n** evaluates to depends upon
the current environment
4.   Each call to recursive function solves a simpler
problem than the last: smaller n

In [15]:
def fibo(n):
    if n == 1 or n == 2:
        return 1
    return fibo(n - 1) + fibo(n - 2)

for i in range(1, 10):
    print(fibo(i))

1
1
2
3
5
8
13
21
34



*   Let's make your own recursive function
  1. draw a functional abstraction of your solution

        1-1. You should find the smaller or extended case of previous function
  2.  Break down the problem into smaller, easier
  3.  Set the base case which can not be recursive
  4.  Wrap up with return-code line covering the whole case

In [16]:
def matryoshka(n):
    if n == 0:
        return
    for i in range(1, n + 1):
        print("*" * i)
    for i in range(n - 1, 0, -1):
        print("*" * i)
    print()
    return matryoshka(n - 1)

matryoshka(5)

*
**
***
****
*****
****
***
**
*

*
**
***
****
***
**
*

*
**
***
**
*

*
**
*

*

## Quiz

In [17]:
import doctest

### Q1. Sets

In [18]:
# before executing this block, please guess the result of this print function
string = 'data'

permutation = set()
for i in string:
    for j in string:
        permutation.add(i + j)

# set does not care about order of its elements
permutation = {i + j for i in string for j in string}
print(permutation, len(permutation))  # please, before executing this block, please guess the result of this print function
'''
data + data
=> dd, da, dt, da / ad, aa, at, aa / td, ta, tt, ta / ad, aa, at, aa
=> {'at', 'ad', 'td', 'aa', 'ta', 'dt', 'tt', 'da', 'dd'}
=> len(permutation) is 9
'''

{'da', 'at', 'dd', 'tt', 'dt', 'td', 'aa', 'ta', 'ad'} 9

"\ndata + data\n=> dd, da, dt, da / ad, aa, at, aa / td, ta, tt, ta / ad, aa, at, aa\n=> {'at', 'ad', 'td', 'aa', 'ta', 'dt', 'tt', 'da', 'dd'}\n=> len(permutation) is 9\n"

### Q2. Combination function with recursion

In [19]:
# recurrence relation of combination : nCr = n-1Cr + n-1Cr-1
# nC0 = 1, nCn = 1

def comb(n, r):
    """
    >>> comb(10, 7)
    120
    >>> comb(4, 2)
    6
    >>> comb(17, 5)
    6188
    """
    if n == r or r == 0:
      return 1
    return comb(n - 1, r) + comb(n - 1, r - 1)

In [20]:
doctest.run_docstring_examples(comb, globals(), False, __name__)

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.10/doctest.py", line 1501, in run
    sys.settrace(save_trace)

### appendix :  [] vs list()

In [ ]:
"""
>>> import dis
>>> def f1(): return list()
...
>>> def f2(): return []
...
>>> dis.dis(f1)
  1           0 LOAD_GLOBAL              0 (list)
              3 CALL_FUNCTION            0
              6 RETURN_VALUE
>>> dis.dis(f2)
  1           0 BUILD_LIST               0
              3 RETURN_VALUE
"""

## (optional) Filter with lambda function

We can filter specific characters using lambda function.

In [ ]:
my_input = ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot"]

def filter_over_this(arr_str, character):
    """
    This function filters characters under the order specified character
    a < c, l > c, p > c, h > c, a < c
    False, True,  True,  True,  False
    l, p, h can survive
    """
    return ["".join(filter(lambda x: x > character, element)) for element in arr_str]

print(filter_over_this(my_input, "c"))
print(filter_over_this(my_input, "e"))
print(filter_over_this(my_input, "1"))
# comparison of character is operated with ascii code number
print("ascii order of 1:", ord("1"))
print("ascii order of a:", ord("a"))

['lph', 'rvo', 'hrlie', 'delt', 'eho', 'foxtrot']
['lph', 'rvo', 'hrli', 'lt', 'ho', 'foxtrot']
['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot']
ascii order of 1: 49
ascii order of a: 97

## optional Q1. Filter with lambda function

In [21]:
#hint
#ascii order of A: 65
#ascii order of Z: 90

def only_capital_alphabet(my_words):
    '''
    >>> only_capital_alphabet(["ASCii", "Code"])
    ['ASC', 'C']
    >>> only_capital_alphabet(["I", "AM", "SO", "STRONG"])
    ['I', 'AM', 'SO', 'STRONG']
    >>> only_capital_alphabet(["Gist", "Develop", "Students", "Club"])
    ['G', 'D', 'S', 'C']
    '''
    answer  = list("".join(filter(lambda x: ord(x) >= 65 and ord(x) <= 90, word)) for word in my_words)
    return answer

In [22]:
doctest.run_docstring_examples(only_capital_alphabet, globals(), False, __name__)

## optional Q2. List, map, lambda

In [23]:
def get_word_without_t (my_string): # str.replace("char", "new char") can replace characters you want in string.
    '''
    >>> get_word_without_t("my little tristana")
    ['my', 'lile', 'risana']
    >>> get_word_without_t("the identity of t is removed")
    ['he', 'ideniy', 'of', '', 'is', 'removed']
    >>> get_word_without_t("BUT THE CAPITAL T CAN SURVIVE!")
    ['BUT', 'THE', 'CAPITAL', 'T', 'CAN', 'SURVIVE!']
    '''
    answer = list(map(lambda x: x.replace('t', ''), my_string.split()))
    return answer

In [24]:
doctest.run_docstring_examples(get_word_without_t, globals(), False, __name__)